

@font-face {
  font-family: 'B_yekan';
  src: url("../fonts/B_yekan.ttf");
  src: url("../fonts/B_yekan.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
*{
	margin:0;
	font-family:B_yekan, arial;

}

textarea{
	resize: none;
}

body{
	
	background-size: 100%;
	

}

 #mybody{
 	font-family:B_yekan, arial;

 }
 .nav li a{
 	font-size: 1.2em;
 }
 #myNavbar{
 	
 }
 .navbar-brand{
 	font-size: 1.8em;
 	line-height: 1em;
 }
.theme{
	background:#f28f00;
}

footer{
	position: fixed;
	bottom: 0;
	width:100%;
	background-color: white;
	opacity: 0.9;
}

.social{
	width:2em;
	height:2em;
	display: inline;
	

}
.social-a{
	margin-left: 10px; 
}
#social-sec{
	display: table;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5em;

    
    

}

#content{
	color: black;
	text-align: center;
	margin-top:2em;
	padding-bottom: 5em;
	font-size: 1.5em;


}

.home-btn{
	width:7em;
	height:3em;
	border:0.2em solid white;
	color:#323232;
	font-size:0.8em;
}
.home-btn:hover{
	color:white;
	background-color: transparent;


}

.post-img{
	width:100%;
	border: solid 4px #ececec;
	border-radius: 5px;
	
}
.post-img:hover{
	
	opacity: 0.4;
}
.posts{
	
	text-align: center;
	

}

.post-title{
	color:#656565;
	margin-top:-0.1em;
	line-height: 1.7em;
	margin-bottom: 0.7em;
	
	
}
a:hover{

	text-decoration: none;
}
span{
	color:#f28f00;
	display: inline;
}
.contact-h2{
	color:#f28f00;
	display: inline;
}
.address{
	margin-bottom:1em;
}

.contact-form{
	background-color: #f28f00;
	padding-top: 2em;
	padding-bottom: 2em;
}
.form-control{
	border-radius: 0;
	border:solid 2px #656565;

}

.captcha-img{
	width: 100%;
	height: 2.2em;

}

.contact-btn{
	color:white;
	background-color: #eb5a67;
	
	border-radius: 0;
	border:solid 2px #eb5a67;
}
.contact-btn:hover{
	border: 0;
	color:#323232;
	background-color: white;
	border:solid 2px #eb5a67;
	border-radius: 0;

}

.contact-title2{
	margin-bottom: 2.5em;
}

.del-post a{
	padding: 5px;
	border: 2px solid red;
	color:red;
	border-radius: 5px;
}
.del-post a:hover{
	
	opacity: 0.5;
}